img{
    max-height: 500px;
    max-width: 500px;
    width: 500px;
    height: 500px;
}
.pdk{
    max-height: 500px;
    max-width: 500px;
    width: 500px;
    height: 500px;
}
body{
    background-color: lightcyan;
    text-align: center;
}
